body{
	font-family: 'Monteserrat', sans-serif;
}
header{
	padding: 20px 0;
}
.caixa{
	position: relative;
	text-align: center;
	padding: 10px 10px;
	width: 100%;

}
th{
	font-weight:bold;
	font-size:18px;
}
form {
	margin: 40px 10px;
}
form label, form legend{
	display: block;
	font-size: 20px;
	margin: 0 0 10px;
}
.input-padrao {
	display: block;
	margin:0 0 20px;
	padding: 10px 25px;
	width: 50%;
}
.cargos {
	width: 60%;
	margin: 15px 0 0 0;
}
.enviar {
	width: 10%;
	padding: 5px 2px;
	margin: 50px 0 0 230px;
	background: #4169E1;
	color: white;
	font-weight: bold;
	font-size: 13px;
	border: none;
	border-radius: 5px;
	transition: 1s all;
	cursor: pointer;
}
.enviar:hover {
	background: #4169E1;
	transform: scale(1.15);
}
.diferente{
	background:none;
	border: 0;
	position:relative;
}
.diferente:after {
	content: '';

	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #4169E1;

	position:absolute;
	top:-50%;
	left:-10%;
	opacity:0.3;
	z-index:-1;

}
table {
	margin: 20px 0 40px;
	margin: 0 auto;
}
h3{
	margin:0 0 10px 70px;
}
.banner{
	width: 100%;
}
.titulo-principal {
	text-align: center;
	font-size: 2em;
	font-family: Arial;
	color: #4169E1;
	margin: 20px 10px 45px;
	clear: left;
}
.principal{
	padding: 3em 0;
	background: #FEFEFE; 
	width: 940px;
	margin:0 auto;

}
.principal p{
	margin: 0 0 1em;
}
.principal strong{
	font-weight: bold;
}
.principal em{
	font-style: italic;
}
.itens{
	line-height: 1.5;
}
.itens:first-child:{
	font-weight: bold;
}
.itens:before{
	content:"★" 
}
#botao-cadastrar {
	text-align: right;
}
.botaoCadastrar {
	width: 100px;
	text-align: right;
	color:aliceblue;
	padding: 15px 15px;
	margin: 30px 10px;
	border: 1px solid #eee;
	border-radius: 6px;
	background-color: #32CD32;
	font-size: 18px;
}
@media screen and(max-width: 480px) {
	.caixa, .principal, .conteudo-beneficios, .mapa-conteudo, .video{
		width: auto;
	}
	h1{
		text-align: center;
	}
	nav{
		position: static;
	}
	.lista-beneficios, .imagem-beneficios{
		width: 100%;
	}
}




